
:root {
  --bg-color: #89C15E;
  --bg-color-rules: #004429;
  --bg-color-cross: #FF0000;
  --text-color: #fff;
  --text-color-secondary: #656565;
  --black-color:#252525;
  --paper: #FFA943;
  --scissors:#BD00FF;
  --rock:#0074B6;
  --bullet-color:yellow;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color) ;
}


.header-content{
    border:1px solid var(--text-color);
    border-radius: 5px;
    
    height:15vh;
    padding:1rem;
    width:40vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:var(--text-color)
    
}
.header-words {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    margin: 0;
    padding: 0; 
  
    
}

.header-words p {
    margin: 1px;
    font-family: "Roboto", sans-serif;
    font-size:20px;;
    font-weight: 500;
    font-style: normal;
}

.scores{
    display: flex;
    gap:1rem;
 

}

.score{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--text-color);
    
    padding:2px;
    height:12vh;
    border-radius: 5px;
    width:7vw;
}


.score-label {
    color: var(--text-color-secondary);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.user-score , .computer-score{
    font-family: 'Roboto';
     font-size:32px;
     font-weight: 700;
     bottom: 1px;
     color:var(--black-color);
     text-align: center;
}



#result {
    font-size: 24px;
    margin-top: 20px;
}

.game {
   position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        "rock scissors"
        "paper paper";
    place-items: center;
    height:25rem;
   
    padding-top:2rem;
     
}
.game::before {
  content:'';
  position:absolute;
  width: 100%;
  height:100%;
  top:35%;
  left:20%;
  
  
}

.choice-btn{
  border:none;
  outline:none;
  background:none;
  cursor: pointer;
}
.choice{
  position:relative;
  width:7rem;
  height:7rem;
  background: var(--text-color);
  border-radius: 50%;
  display:grid;
  place-items:center;
}
.choice::before{
  content:'';
  position:absolute;
  top:-10%;
  left:-10%;
  width:120%;
  height:120%;
  border-radius:50%;
  background: var(--bg-color-cross);
  z-index: -1;
}
.choice.paper::before{
  background:var(--paper);
  background-image: url("./assets/Line\ 1.png") no-repeat;
}
.choice.scissors::before{
  background: var(--scissors);
  background-image: url("./assets/Line\ 3.png") no-repeat;
}
.choice.rock::before{
  background: var(--rock);
  background-image: url("./assets/Line\ 2.png") no-repeat;
}

#rock {
    grid-area: rock;
}

#paper {
    grid-area: paper;
}

#scissors {
    grid-area: scissors;
}
.rules-btn{
  position: absolute;
  bottom:2rem;
  right:2rem;
  background: none;
  outline:none;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  color:var(--text-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding:5px 12px;
  cursor:pointer;
}
.rules-btn-after{
  right:10rem;
}
.next-btn{
  position: absolute;
  bottom:2rem;
  right:2rem;
  background: none;
  outline:none;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  color:var(--text-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding:5px 12px;
  cursor:pointer;
}

.modal {
  position: absolute;
  height: 22rem;
  width: 21rem;
  right: 3rem;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
  color: var(--text-color);
  opacity: 0;
  border: 10px solid var(--text-color);
  border-radius: 5px;
 
}

.modal_header {
  position: absolute;
  top: -40px;
  right: -50px;
  background: transparent;
  border: none;
  height: 10vh;
  width: 10vh;
}
.modal-points{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg-color-rules);
  height:100%;
  width:100%;
  border-radius: 4px solid transparent;
  padding:20px 12px;
 
}

.close-btn {
  background-color: var(--bg-color-cross);
  padding: 12px;
  border: 6px solid var(--text-color);
  border-radius: 50%;
}

.show-modal {
  opacity: 1;
}

.rules-header {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.rules-points ul {
  list-style: none; 
  
 
}

.rules-points ul li {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  position: relative;
  margin:.8rem;
}

.rules-points ul li::before {
  content: "\25AA"; 
  color: var(--bullet-color); 
  font-size: 1.5em; 
  position: absolute;
  left: -20px; 
  
}




.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas: 
    'you-title pc-title'
    'you-picked pc-picked';
  margin: 0 auto;
  width:42vw;
}


.results-heading {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;  
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 2rem 0; 
  color:var(--text-color);
 
}

.results-heading:first-of-type {
  grid-area: you-title;
}

.results-heading:last-of-type {
  grid-area: pc-title;
}

#user-choice {
  grid-area: you-picked;
}

#computer-choice {
  grid-area: pc-picked;
}

.hidden {
  display: none;
}

.results.show-winner{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 
  'you-title  .  pc-title'
  'you-picked  results-winner pc-picked';

}
.results-winner{
  display:grid;
  grid-area:results-winner;
  place-items:center;

}
.results-text{
   font-size:1.2rem;
   padding-bottom:1.5rem;
   color:var(--text-color);
   text-transform: uppercase;
   font-family:'Roboto';
   letter-spacing: .1rem;;
}



.results_result {
  position: relative;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results_result.show-animation.winner::after {
  content: '';
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 
    0 0 0 15px rgba(46, 154, 37, 0.39), 
    0 0 0 25px  rgba(46, 154, 37, 0.27), 
    0 0 0 40px  rgba(46, 154, 37, 0.16);
    animation: winner 0.1s ease forwards;
  
}


@keyframes winner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.play-again, .play-again-two{
  background: white;
  outline:none;
  border:2px solid transparent;
  border-radius: .6rem;
  color:var(--text-color-secondary);
  padding:0.6rem 1.5rem;
  font-family:'Roboto';
  text-transform:uppercase;
  font-size:.8rem;
  letter-spacing:0.1rem;
  cursor:pointer;
  width:10vw;
}

.trophy-image-container {
  position: relative;
}



.trophy-image-container img:nth-child(2) {
  position: absolute;
  top: 100px;
  left: 170px;
  
}
.trophy-content{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}
.hurray{
  font-family:'Roboto',sans-serif;
  font-size:4rem;
  padding:1rem;
  letter-spacing:.2rem;
  color:var(--text-color);
}
.congrats-msg{
  font-family:'Roboto',sans-serif;
  font-size:2rem;
  color:var(--text-color);
  letter-spacing:.1rem;
  padding:1rem;
}
